* {
    margin: 10;
    padding: 20;
    background-color: cadetblue;
}
hr{
    
    border-color: black;
    border-width: 3px;
    
}
.title{
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    color: white;
    border: 10px solid black;
    border-right: 20px;
    border-left: 20px;
    border-radius: 40px;
    padding: 10px;
    display: inline-block;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

#sidenote {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    border: 7px solid black;
    margin: 20px auto;
    padding: 5px;
    max-width: 1000px;
}
header {
    padding: 10px;
    text-align: center;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px black;
}
nav a {
    margin: 0px 75px;
}
.arti{
    background-color: cadetblue;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
#list{
   padding: 1px;

 list-style-position: inside;
    display: block
}
#note {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    margin: 3px;
}